@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* home section styling */
.home{
    display: flex;
    background: linear-gradient(brown, black);
    height: 100vh;
    color: #ffffff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .home-content{
    background: white;
    border: 20px solid crimson;
    border-radius: 30px;
    padding: 16px;
    font-style: "Ubuntu", sans-serif;
    color: black;
    font-size: 40px;
    font-weight: 500;
}
.home .home-content img{
    width: 200px;
    height: 200px;
    margin: 16px;
    border: 8px solid #f0f0f0;
    border-radius: 100px;
    align-content: center;
}
.home .home-content p{
    margin-left: 16px;
    margin-right: 16px;
}
.home .home-content p span{
    color: crimson;
}

.unselectable{
    user-select: none;
}
