@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
html{
  scroll-behavior: smooth;
}

/* home section styling */
.home {
  display: flex;
  background: linear-gradient(brown, black);
  height: 100vh;
  color: #ffffff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .home-content {
  user-select: none;
  background: white;
  border: 2px solid crimson;
  border-radius: 30px;
  padding: 16px;
  font-style: "Ubuntu", sans-serif;
  color: black;
  font-size: 36px;
  font-weight: 500;
  justify-content: space-between;
}
.home .home-content .kunal {
  width: 200px;
  height: 200px;
  margin: 16px;
  border: 8px solid #f0f0f0;
  border-radius: 50%;
  align-content: center;
  transition: all 0.1s ease;
}
.home .home-content .kunal:hover{
  border: 12px solid #f2f2f2;
}
.home .home-content p {
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
}
.home .home-content p span {
  color: crimson;
}
.home .home-content .links {
  width: 30px;
}
.home .home-content ul {
  margin-left: 27px;
  display: inline-block;
}
.home .home-content li {
    margin-left: 20px;
    display: inline-block;
    list-style: none;
    transition: all 0.1s ease;
}

.title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  user-select: none;
}
.title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111111;
  transform: translateX(-50%);
}
.title::after{
  content: "";
  position: absolute;
  bottom: -13px;
  left: 50%;
  color: crimson;
  font-size: 20px;
  padding: 5px;
  background: #ffffff;
  transform: translateX(-50%);
}

/* works section */
section{
  padding: 100px 0;
}
.works, .contact, footer{
  font-family: 'Poppins', sans-serif;
}

.projects li {
  font-size: 28px;
}
.fruits {
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 10px;
}
.fruits li {
  font-size: 15px;
}
.project-lines {
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 10px;
}
.project-lines li {
  font-size: 18px;
  text-align: justify;
}
.works .works-content, 
.contact .contact-content{
  display: block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.works .title::after{
  content: "what i made";
}
.works .works-content a{
  display: inline-block;
  background: crimson;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 25px;
  margin-top: 15px;
  margin-left: 5px;
  border-radius: 8px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.works .works-content a:hover{
  background: none;
  color: crimson;
  transform: scale(1.05);
}

/* contact styling */
.contact .title::after{
  content: "get in touch";
}
.contact .contact-content .column{
  width: calc(50% - 30px);
}

.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  user-select: none;
}
.contact .contact-content .left p{
  text-align: justify;
}
.contact .contact-content .left .icons{
  margin: 10px 0;
}
.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row i{
  font-size: 25px;
  color: crimson;
}
.contact .contact-content .info .head{
  font-weight: 500;
  user-select: none;
}
.contact .contact-content .info .sub-title{
  color: #333333;
}



.unselectable {
  user-select: none;
}
.unselectable-1 {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 0;
  user-select: none;
}


@media (max-width: 947px) {
  .works .works-content .column{
    width: 100%;
    margin-bottom: 5px;
  }
  .contact .contact-content .column{
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 690px) {
  .works .works-content .column{
    width: 100%;
    margin-bottom: 5px;
  }
  .contact .contact-content .column{
    width: 100%;
    margin-bottom: 20px;
  }
  .works .title::after{
    font-size: 20px;
  }
}